:root {
  --basic-black: #000000;
  --basic-extra-dark: #FB565A;
  --basic-light-dark: #283136;
  --basic-dark: #D7373B;
  --basic-light-silver: #EEEEEE;
  --basic-silver: #DFDFDF;
  --basic-silver-dark: #D5D5D5;
  --basic-white: #ffffff;
  --basic-light-red: #FB565A;
  --basic-red: #E74246;
  --basic-dark-red: #D7373B;
  --basic-light-green: #00CA74;
  --basic-green: #00BC6C;
  --basic-dark-green: #00AA62;
  --basic-light-yellow: #EFC849;
  --basic-yellow: #EAB534;
  --basic-light-gray: #E1E1E1;
  --basic-gray-dark: #4d4d4d;
  --rare: #444444;
  --special: #666666;
  --special-gray: #888888;
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: local('Roboto-Regular'),
       url('/fonts/roboto.woff2') format('woff2'),
       url('/fonts/roboto.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: local('Roboto-Medium'),
       url('/fonts/robotomedium.woff2') format('woff2'),
       url('/fonts/robotomedium.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: local('Roboto-Bold'),
       url('/fonts/robotobold.woff2') format('woff2'),
       url('/fonts/robotobold.woff') format('woff');
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  position: relative;
  min-width: 1460px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  line-height: 1.2;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
.feedback {
  color: black;
}
.feedback a {
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}
.feedback p {
  margin-bottom: inherit;
  font-size: 14px;
  line-height: 20px;
}
/**>*{
  outline: 1px solid var(--basic-black);
}*/
.container {
  width: 1160px;
  margin: 0 auto;
}
/*--шапка--*/
.page-header {
  padding-top: 50px;
  background-color: var(--basic-light-silver);
}
.page-main-title {
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  font-weight: 500;
  font-style: normal;
  padding-top: 74px;
  padding-right: 18px;
  padding-bottom: 108px;
  margin: 0;
  background-color: var(--basic-light-silver);
  text-align: center;
}
.page-logo[href]:hover,
.page-logo[href]:focus {
  opacity: 1;
}
.page-logo[href]:active {
  opacity: 0.2;
}
.page-nav {
  display: grid;
  grid-template-columns: 160px 438px 74px;
  column-gap: 202px;
}
.user-navigation {
  margin-left: 42px;
}
.user-navigation-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 1px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/cart-icon.svg");
  background-repeat: no-repeat;
}
.user-navigation .user-navigation-link {
  position: relative;
  padding-left: 42px;
}
.site-navigation-item {
  margin-right: 46px;
}
.site-navigation-list,
.user-navigation {
  display: flex;
  align-items: center;
}
.site-navigation-list a,
.user-navigation a {
  color: var(--basic-black);
  display: block;
  margin-top: 16px;
}
.site-navigation-list a[href]:hover,
.site-navigation-list a[href]:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-extra-dark);
}
.site-navigation-list a[href]:active,
.user-navigation a[href]:active {
  color: var(--basic-light-gray);
}
.site-navigation-list,
.user-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}
.slider {
  display: block;
  position: relative;
  background-color: var(--basic-light-silver);
}
.slider-label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 18px;
  padding: 17px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: var(--basic-white);
  border-radius: 50%;
}
.slide-list {
  margin: 0;
  padding: 0;
}
.slide-item {
  display: none;
  padding: 78px 0 80px 0;
}
/*.slide-item:nth-child(1) {
  display: block;
}*/
.slide-item:nth-child(1) {
  background-image: url("../img/icons/slide-expensive-and-meticulous.png");
  background-repeat: no-repeat;
  background-position: 99% 1px;
}
.slide-item:nth-child(2) {
  background-image: url("../img/icons/slide-love-math.png");
  background-repeat: no-repeat;
  background-position: 99% 1px;
}
.slide-item:nth-child(3) {
  background-image: url("../img/icons/slide-only-hardcore.png");
  background-repeat: no-repeat;
  background-position: 99% 1px;
}
#product-1:checked ~ .slides .slide-item:nth-child(1) {
  display: block;
}
#product-2:checked ~ .slides .slide-item:nth-child(2) {
  display: block;
}
#product-3:checked ~ .slides .slide-item:nth-child(3) {
  display: block;
}
#product-1:checked ~ .slider-controls .slider-label:nth-child(1)::before,
#product-2:checked ~ .slider-controls .slider-label:nth-child(2)::before,
#product-3:checked ~ .slider-controls .slider-label:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 8px;
  height: 8px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid var(--basic-silver-dark);
  border-radius: 50%;
}
.slide-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
}
.slide-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}
.slide-title {
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  font-weight: 500;
  font-style: normal;
}
.slide-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-dark);
  font-weight: normal;
  font-style: normal;
}
.slide-link {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-white);
  font-weight: 500;
  font-style: normal;
}
.slide-link {
  background-color: var(--basic-light-red);
}
.slide-link:hover,
.slide-link:focus {
  background-color: var(--basic-red);
}
.slide-link:active {
  background-color: var(--basic-dark-red);
}
.offers {
  border-bottom: 2px solid var(--basic-silver);
}
.offers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  margin-top: 80px;
  padding-bottom: 80px;
}
.offers-item {
  width: 300px;
  background-image: url("");
}
.offers-caption {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
.offers-text {
  font-size: 16px;
  line-height: 24px;
  padding-right: 20px;
  color: var(--basic-light-dark);
  font-weight: normal;
  font-style: normal;
}
.offers-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}
.button {
  display: block;
  width: 240px;
  padding-top: 17px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--basic-light-red);
  border-radius: 3px;
  border: none;
}
.button-red,
.button-green,
.button-yellow {
  display: block;
  width: 160px;
  margin-top: 33px;
  padding-top: 17px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 3px;
  border: none;
}
.button:hover,
.button:focus {
  background-color: var(--basic-red);
}
.button:active {
  background-color: var(--basic-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--basic-light-gray);
}
.button-red {
  background-color: var(--basic-light-red);
}
.button-red:hover,
.button-red:focus {
  background-color: var(--basic-red);
}
.button-red:active {
  background-color: var(--basic-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.button-green {
  background-color: var(--basic-light-green);
}
.button-green:hover,
.button-green:focus {
  background-color: var(--basic-green);
}
.button-green:active {
  background-color: var(--basic-dark-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.button-yellow {
  background-color: var(--basic-light-yellow);
}
.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--basic-yellow);
}
.button-yellow:active {
  background-color: var(--basic-dark-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.button-red:active,
.button-green:active,
.button-yellow:active {
  color: var(--basic-light-gray);
}
.company {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding-top: 26px;
  padding-bottom: 42px;
  border-bottom: 2px solid var(--basic-silver);
}
.company-about {
  width: 660px;
  margin-right: 120px;
}
.company-caption {
  font-size: 45px;
  line-height: 49px;
  color: var(--basic-black);
  font-weight: 500;
  font-style: normal;
  margin-bottom: 32px;
}
.company-text {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-light-dark);
  font-weight: normal;
  font-style: normal;
}
.company-text-title {
  margin-bottom: 0;
  padding-top: 24px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 28px;
  color: var(--basic-light-dark);
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
.company-list {
  width: 660px;
  margin-top: 8px;
}
.company-item {
  position: relative;
  padding-left: 36px;
  padding-bottom: 22px;
  font-size: 16px;
  line-height: 26px;
  color: var(--basic-light-dark);
  font-weight: normal;
  font-style: normal;
}
.company-item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}
.company-img {
  margin-top: 14px;
}
.company-title {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 36px;
}
.company-statistics {
  width: 360px;
  text-align: center;
}
.company-table {
  margin-top: 26px;
}
.figures {
  font-size: 45px;
  line-height: 73px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
}
.figures th {
  position: relative;
  width: 200px;
  text-align: left;
}
.figures sup {
  position: absolute;
  font-size: 25px;
  top: 30px;
}
.indicators td {
  text-align: left;
}
.indicators {
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-light-dark);
  font-weight: normal;
  font-style: normal;
}
.clients {
  padding: 0;
  margin-bottom: 78px;
  /*padding-top: 50px;
  padding-bottom: 38px;*/
  border-bottom: 2px solid var(--basic-silver);
}
.clients-list {
  display: flex;
  align-items: center;
}
.clients-item {
  position: relative;
  width: 25%;
  height: 180px;
}
.clients-item:nth-child(-n+3)::before {
  content: "";
  position: absolute;
  top: 35%;
  right: 7px;
  width: 2px;
  height: 52px;
  background-color: var(--basic-silver);
}
.clients-list a {
  display: block;
  opacity: 0.2;
}
.clients-link-academy {
  margin-top: 63px;
  margin-left: 32px;
}
.clients-link-borodinski {
  margin-top: 46px;
  margin-left: 37px;
}
.clients-link-pink {
  margin-left: 60px;
  margin-top: 67;
}
.clients-link-mishka {
  margin-top: 52px;
  margin-left: 75px;
}
.clients-list a:hover,
.clients-list a:focus {
  transition: 1s;
  opacity: 1;
}
.clients-list a:not(:hover),
.clients-list a:not(:focus) {
  transition: 1s;
}
.clients-list a:active {
  opacity: 0.3;
}
.map {
  position: relative;
  display: block;
  width: 100%;
  height: 416px;
  margin: 0 auto;
}
.map-contact {
  position: absolute;
  top: 52px;
  left: 372px;
  width: 320px;
  height: 310px;
  z-index: 30;
  padding: 40px 50px;
  background-color: var(--basic-white);
}
.map-contact-caption {
  font-size: 18px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 23px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
.map-contact-address {
  font-size: 16px;
  line-height: 18px;
  color: var(--special);
  font-weight: normal;
  font-style: normal;
}
.map-contact-address a {
  color: var(--special);
}
.map-contact-button {
  width: 219px;
  margin-top: 39px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  font-weight: 500;
  font-style: normal;
  background-color: var(--basic-light-red);
}
.legend {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
.filters {
  width: 260px;
  margin-right: 140px;
}
.filter-cost,
.filter-grid,
.filter-features {
  margin: 0;
  padding: 0;
  border: none;
}
.filter-cost-legend {
  padding-top: 55px;
}
.range-filter {
  width: 260px;
  margin-top: 49px;
}
.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--basic-light-silver);
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: var(--basic-silver);
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: var(--basic-silver-dark);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-silver-dark);
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.filter-cost-label {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-light-dark);
  font-weight: normal;
  font-style: normal;
}
.price-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}
.price-controls input {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-light-dark);
  border: none;
  border-radius: 5px;
  background: var(--basic-light-silver);
  font-family: inherit;
  font-size: inherit;
}
.filter-grid-legend,
.filter-features-legend {
  padding-top: 11px;
  padding-bottom: 17px;
}
.filter-grid-list {
  padding-bottom: 12px;
}
.filter-features {
  padding-bottom: 30px;
}
.filter-grid-item,
.filter-features-item {
  position: relative;
  padding-left: 36px;
  padding-bottom: 21px;
}
.filter-features-item input[type=checkbox],
.filter-grid-item input[type=radio] {
  display: none;
}
.filter-grid-label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -1px;
  left: 0;
  background: url("../img/icons/radio-off.svg") no-repeat;
  cursor: pointer;
  opacity: 0.4;
}
.filter-features-label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  background-image: url("../img/icons/checkbox-off.svg");
  cursor: pointer;
  opacity: 0.4;
}
.filter-grid-item input[type=radio]:checked + .filter-grid-label::before {
  background: url("../img/icons/radio-on.svg") no-repeat;
  cursor: pointer;
  opacity: 0.4;
}
.filter-features-item input[type=checkbox]:checked + .filter-features-label::before {
  width: 26px;
  background: url("../img/icons/checkbox-on.svg") no-repeat;
  cursor: pointer;
  opacity: 0.4;
}
.filter-grid-item .filter-grid-label:hover::before,
.filter-grid-item .filter-grid-label:focus::before,
.filter-features-item .filter-features-label:hover::before,
.filter-features-item .filter-features-label:focus::before {
  opacity: 1;
}
.filter-grid-label,
.filter-features-label {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-light-dark);
  font-weight: normal;
  font-style: normal;
}
.filter-features-button {
  width: 260px;
  height: 50px;
}
.filter-features-button {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  font-weight: 500;
  font-style: normal;
  background-color: var(--basic-light-silver);
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}
.filter-features-button:hover,
.filter-features-button:focus {
  background-color: var(--basic-silver);
}
.filter-features-button:active {
  background-color: var(--basic-silver-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1)
}
.catalog-container {
  display: flex;
}
.catalog-sort {
  width: 760px;
}
.sort {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin-top: 60px;
  margin-bottom: 90px;
}
.sort-title {
  width: 134px;
  margin: 0;
  margin-right: 220px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
.sort-list {
  display: flex;
  justify-content: space-around;
  width: 300px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.sort-switch {
  display: flex;
  justify-content: space-between;
  width: 40px;
  height: 13px;
  margin-top: 5px;
}
.sort-switch-down {
  width: 10px;
  height: 10px;
  background-image: url("../img/icons/icon-down-dir.svg");
  cursor: pointer;
}
.sort-switch-up {
  width: 10px;
  height: 10px;
  background-image: url("../img/icons/icon-up-dir.svg");
  opacity: 0.2;
  cursor: pointer
}
.catalog {
  display: grid;
  grid-template-columns: 358px 358px;
  grid-template-rows: 578px 578px 578px;
  column-gap: 43px;
  row-gap: 73px;
  margin-bottom: 56px;
}
.catalog-item {
  position: relative;
}
.catalog-item:hover .catalog-wrapper {
  display: block;
}
.catalog-item::before {
  content: "";
  position: absolute;
  top: -38px;
  width: 358px;
  height: 40px;
  background: var(--basic-silver-dark);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.catalog-item::after {
  content: "";
  position: absolute;
  left: 40px;
  top: -25px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--basic-white);
  box-shadow: 25px 0 0 0 var(--basic-white), -25px 0 0 0 var(--basic-white);
}
.catalog-item:hover::before {
  background: var(--basic-gray-dark);
}
.catalog-img {
  border: 1px solid var(--basic-silver);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 0 10px 2px rgba(221, 221, 221, 1);
}
.catalog-wrapper:hover,
.catalog-wrapper:focus {
  display: block;
}
.catalog-wrapper {
  display: none;
  position: absolute;
  top: 345px;
  width: 358px;
  height: 235px;
  z-index: 20;
  background-color: var(--basic-light-silver);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.catalog-text {
  width: 255px;
  text-align: center;
  margin-left: 52px;
}
.catalog-sort-title {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
}
.catalog-link-caption {
  color: inherit;
  text-transform: uppercase;
}
.catalog-title {
  text-align: center;
}
.catalog-link {
  margin: 0 auto;
}
.catalog-link-caption:hover,
.catalog-link-caption:focus {
  color: var(--basic-red);
}
.catalog-link-caption:active {
  color: var(--basic-silver);
}
.sort-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  font-weight: normal;
  font-style: normal;
  opacity: 0.3;
}
.sort-link:hover,
.sort-link:focus {
  color: var(--basic-black);
  opacity: 0.6;
}
.catalog-sort-link:active {
  color: var(--basic-black);
}
.catalog-link-caption {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
}
.catalog-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--special);
  font-weight: normal;
  font-style: normal;
}
.catalog-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  font-weight: 500;
  font-style: normal;
}
.pagination {
  width: 443px;
  margin-bottom: 60px;
}
.pagination-list {
  display: flex;
}
.pagination-item {
  text-align: center;
}
.pagination-link {
  display: inline-block;
  vertical-align: top;
  margin-right: 11px;
  padding-top: 13px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-light-silver);
  color: var(--basic-black);
  border: 3px solid var(--basic-light-silver);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold
}
.pagination-pressed {
  background-color: var(--basic-white);
}
.pagination-next {
  width: 254px;
  height: 46px;
  padding-bottom: 33px;
}
.pagination-link[href]:hover,
.pagination-link[href]:focus {
  background-color: var(--basic-silver);
  border: 3px solid var(--basic-silver);
}
.pagination-link[href]:active {
  background-color: var(--basic-silver-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border: 3px solid var(--basic-silver-dark);
}
.footer {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
}
.footer-social {
  width: 260px;
  margin-right: 140px;
}
.footer-social-list {
  display: flex;
}
.footer-offering {
  width: 560px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: var(--basic-light-gray);
  border-radius: 50%;
  color: inherit;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--basic-light-red);
}
.footer-social-link:active {
  background-color: var(--basic-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.footer-social-link:active path,
.footer-social-link:active path{
  opacity: 0.3;
}
.footer-offering-title {
  width: 660px;
  font-size: 36px;
  line-height: 44px;
  margin: 0;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
}
.footer-offering-text {
  font-size: 16px;
  line-height: 4px;
  color: var(--rare);
  font-weight: normal;
  font-style: normal;
}
.footer-social-item {
  width: 80px;
  height: 80px;
  margin-right: 9px;
}
.footer-social-item:nth-child(3n) {
  margin: 0;
}
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 10%;
  left: 50%;
  width: 960px;
  height: 590px;
  margin-left: -480px;
  margin-top: -300px;
  padding-bottom: 85px;
  background-color: var(--basic-white);
  box-shadow: 0 0 30px 10px var(--special-gray);
  border-radius: 5px;
}
.modal-show {
  display: block;
}
.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 27px;
  height: 27px;
  cursor: pointer;
  background: none;
  border: none;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 29px;
  height: 3px;
  background-color: var(--basic-black);
  cursor: pointer;
}
.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}
.modal-wrapper {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 80px;
}
.modal-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}
.modal-title {
  font-size: 45px;
  line-height: 53px;
  margin: 0;
  padding-top: 61px;
  padding-left: 103px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
}
.modal-label {
  display: inline-block;
  vertical-align: top;
  width: 360px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
}
.modal-input,
.modal-textarea {
  display: inline-block;
  vertical-align: top;
  width: 360px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  border: 2px solid var(--special-gray);
  border-radius: 3px;
  padding: 15px;
}
.modal-textarea {
  width: 760px;
  height: 118px;
  resize: none;
}
.modal-login {
  margin-top: 37px;
}
.modal-text {
  margin-top: 30px;
}
.modal-input input::placeholder:hover {
  border-color: var(--basic-light-silver);
}
.modal-button-send {
  position: absolute;
  top: 456px;
  width: 260px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  font-weight: 500;
  font-style: normal;
  background-color: var(--basic-light-red);
  border: 0;
}
