:root {
  --basic-black: #000000;
  --basic-extra-dark: #FB565A;
  --basic-light-dark: #283136;
  --basic-dark: #D7373B;
  --basic-light-silver: #EEEEEE;
  --basic-silver: #DFDFDF;
  --basic-silver-dark: #D5D5D5;
  --basic-white: #ffffff;
  --basic-light-red: #FB565A;
  --basic-red: #E74246;
  --basic-dark-red: #D7373B;
  --basic-light-green: #00CA74;
  --basic-green: #00BC6C;
  --basic-dark-green: #00AA62;
  --basic-light-yellow: #EFC849;
  --basic-yellow: #EAB534;
  --basic-dark-yellow: #E5A722;
  --rare: #444444;
  --special: #666666;
  --special-gray: #888888;
  --basic-light-gray: #E1E1E1;
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: local('Roboto-Regular'),
       url('/fonts/roboto.woff2') format('woff2'),
       url('/fonts/roboto.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: local('Roboto-Medium'),
       url('/fonts/robotomedium.woff2') format('woff2'),
       url('/fonts/robotomedium.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: local('Roboto-Bold'),
       url('/fonts/robotobold.woff2') format('woff2'),
       url('/fonts/robotobold.woff') format('woff');
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  min-width: 1460px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Roboto', 'Arial', sans-serif;
  line-height: 1.2;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
.feedback {
  color: black;
}
.feedback p {
  margin-bottom: inherit;
}
*>*{
  outline: 1px solid var(--basic-black);
}

.page-header {                                                                  /*--шапка--*/
  display: block;
  padding-top: 50px;
  background-color: var(--basic-light-silver);
}
.page-main-title {
  padding-top: 80px;
  padding-bottom: 115px;
  margin: 0;
  background-color: var(--basic-light-silver);
  text-align: center;
}
.page-logo[href]:hover,
.page-logo[href]:focus {
  opacity: 1;
}
.page-logo[href]:active {
  opacity: 0.2;
}
.page-nav {
  display: flex;
  justify-content: space-between;
}
.site-container {
  width: 1160px;
  margin: 0 auto;
}
.site-navigation-list,
.user-navigation {
  display: flex;
  align-items: flex-end;
}
.site-navigation-item {
  display: inline-block;
  margin-right: 50px;
}
.site-navigation-list a,
.user-navigation a {
  color: var(--basic-black);
}
.site-navigation-list a[href]:hover,
.site-navigation-list a[href]:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-extra-dark);
}
.site-navigation-list a[href]:active,
.user-navigation a[href]:active {
  color: var(--basic-light-gray);
}
.site-navigation-list,
.user-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}
.page-main-title {
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  font-weight: 500;
  font-style: normal;
}
.slider {                                                                       /*--слайдер--*/
  display: block;
  position: relative;
  background-color: var(--basic-light-silver);
}
.slider-container {
  width: 1160px;
  margin: 0 auto;
}
.slider-label {
  position: relative;
  display: inline-block;
  height: 18px;
  padding: 17px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: var(--basic-white);
  border-radius: 50%;
}
.slide-list {
  margin: 0;
  padding: 0;
}
.slide-item {
  display: none;
  padding: 78px 0 80px 0;
}
.slide-item:nth-child(1) {
  display: block;
}
.slide-item:nth-child(1) {
  background-image: url("../img/icons/slide-expensive-and-meticulous.png");
  background-repeat: no-repeat;
  background-position: 99% 1px;
}
.slide-item:nth-child(2) {
  background-image: url("../img/icons/slide-love-math.png");
  background-repeat: no-repeat;
  background-position: 99% 1px;
}
.slide-item:nth-child(3) {
  background-image: url("../img/icons/slide-only-hardcore.png");
  background-repeat: no-repeat;
  background-position: 99% 1px;
}
#product-1:checked ~ .slide-list .slide-item:nth-child(1) {
  display: block;
}
#product-2:checked ~ .slide-list .slide-item:nth-child(2) {
  display: block;
}
#product-3:checked ~ .slide-list .slide-item:nth-child(3) {
  display: block;
}
#product-1:checked ~ .slider-controls .slider-label:nth-child(1)::before,
#product-2:checked ~ .slider-controls .slider-label:nth-child(2)::before,
#product-3:checked ~ .slider-controls .slider-label:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 8px;
  height: 8px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid var(--basic-silver-dark);
  border-radius: 50%;
}
.slide-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
}
.slide-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}
.slide-title {
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  font-weight: 500;
  font-style: normal;
}
.slide-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-dark);
  font-weight: normal;
  font-style: normal;
}
.slide-link {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-white);
  font-weight: 500;
  font-style: normal;
}
.slide-link {
  background-color: var(--basic-light-red);
}
.slide-link:hover,
.slide-link:focus {
  background-color: var(--basic-red);
}
.slide-link:active {
  background-color: var(--basic-dark-red);
}
                                                                                /*--секция предложений--*/
.offers {
  width: 1160px;
  margin: 0 auto;
  border-bottom: 2px solid var(--basic-silver);
}
.offers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  margin-top: 80px;
  padding-bottom: 80px;
}
.offers-item {
  width: 300px;
}
.offers-caption {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
.offers-text {
  font-size: 16px;
  line-height: 24px;
  padding-right: 20px;
  color: var(--basic-light-dark);
  font-weight: normal;
  font-style: normal;
}
.offers-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}
                                                                                /*--кнопки--*/
.button {
  display: block;
  width: 240px;
  padding-top: 17px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--basic-light-red);
  border-radius: 3px;
  border: none;
}
.button-red,
.button-green,
.button-yellow {
  display: block;
  width: 160px;
  margin-top: 33px;
  padding-top: 17px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 3px;
  border: none;

}
.button:hover,
.button:focus {
  background-color: var(--basic-red);
}
.button:active {
  background-color: var(--basic-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--basic-light-gray);
}
.button-red {
  background-color: var(--basic-light-red);
}
.button-red:hover,
.button-red:focus {
  background-color: var(--basic-red);
}
.button-red:active {
  background-color: var(--basic-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.button-green {
  background-color: var(--basic-light-green);
}
.button-green:hover,
.button-green:focus {
  background-color: var(--basic-green);
}
.button-green:active {
  background-color: var(--basic-dark-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.button-yellow {
  background-color: var(--basic-light-yellow);
}
.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--basic-yellow);
}
.button-yellow:active {
  background-color: var(--basic-dark-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.button-red:active,
.button-green:active,
.button-yellow:active {
  color: var(--basic-light-gray);
}
                                                                                /*--блок приципов--*/
.company {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  width: 1160px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 60px;
  border-bottom: 2px solid var(--basic-silver);
}
.company-about {
  width: 660px;
  margin-right: 120px;
}
.company-caption {
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  font-weight: 500;
  font-style: normal;
  margin-bottom: 32px;
}
.company-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-dark);
  font-weight: normal;
  font-style: normal;
}
.company-text-title {
  margin-bottom: 0;
  padding-top: 24px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 25px;
  color: var(--basic-light-dark);
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
.company-list {
  width: 660px;
  margin-top: 8px;
}
.company-item {
  padding-left: 36px;
  padding-bottom: 22px;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-dark);
  font-weight: normal;
  font-style: normal;
}
.company-img {
  margin-top: 10px;
}
.company-title {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 36px;
}
.company-statistics {
  width: 360px;
  text-align: center;
}
.company-table {
  margin-top: 26px;
}
.figures {
  font-size: 45px;
  line-height: 73px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
}
.figures th {
  position: relative;
  width: 200px;
  text-align: left;
}
.figures sup {
  position: absolute;
  font-size: 25px;
  top: 30px;
}
.indicators td {
  text-align: left;
}
.indicators {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-dark);
  font-weight: normal;
  font-style: normal;
}
                                                                                /*--бренды--*/
.clients {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 80px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 48px;
  border-bottom: 2px solid var(--basic-silver);
}
.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients-list a {
  opacity: 0.2;
}
.clients-list a:hover,
.clients-list a:focus {
  opacity: 1;
}
.clients-list a:active {
  opacity: 0.3;
}
                                                                                /*--карта--*/
.map {
  position: relative;
  display: block;
  width: 1440px;
  margin: 0 auto;
}
.map-contact {
  position: absolute;
  top: 50px;
  left: 140px;
  width: 320px;
  height: 310px;
  z-index: 30;
  padding: 40px 50px;
  background-color: var(--basic-white);
}
.map-contact-caption {
  font-size: 18px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 23px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
.map-contact-address {
  font-size: 16px;
  line-height: 18px;
  color: var(--special);
  font-weight: normal;
  font-style: normal;
}
.map-contact-address a {
  color: var(--special);
}
.map-contact-button {
  width: 219px;
  margin-top: 39px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  font-weight: 500;
  font-style: normal;
  background-color: var(--basic-light-red);
}
.legend {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
                                                                                /*--фильтры--*/
.filters {
  width: 260px;
  margin-right: 140px;
}
.filter-cost-label {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-light-dark);
  font-weight: normal;
  font-style: normal;
}
.filter-cost-legend {
  padding-top: 60px;
  padding-bottom: 60px;
}
.filter-grid-label,
.filter-features-label {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-light-dark);
  font-weight: normal;
  font-style: normal;
}
.filter-features-button {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  font-weight: 500;
  font-style: normal;
  background-color: var(--basic-light-silver);
  border: none;
  border-radius: 3px;
}
.filter-features-button:hover,
.filter-features-button:focus {
  background-color: var(--basic-silver);
}
.filter-features-button:active {
  background-color: var(--basic-silver-dark);
}
.container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}                                                                                /*--каталог--*/
.container-catalog {
  display: flex;
  flex-wrap: wrap;
}
.catalog-sort {
  width: 760px;
}
.sort {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin-top: 60px;
  margin-bottom: 90px;
}
.sort-title {
  width: 134px;
  margin: 0;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
.sort-list {
  display: flex;
  justify-content: space-around;
  width: 272px;
}
.catalog {
  display: flex;
  flex-wrap: wrap;
}
.catalog-item {
  margin-right: 40px;
  margin-bottom: 80px;
}
.catalog-img {
  border: 1px solid var(--basic-silver);
}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}
.catalog-wrapper {
  display: none;
}
.catalog-text {
  width: 255px;
  text-align: center;
  margin-left: 52px;
}
.catalog-sort-title {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
}
.catalog-link-caption {
  color: inherit;
  text-transform: uppercase;
}
.catalog-title {
  text-align: center;
}
.catalog-link {
  margin: 0 auto;
}
.catalog-link-caption:hover,
.catalog-link-caption:focus {
  color: var(--basic-red);
}
.catalog-link-caption:active {
  color: var(--basic-silver);
}
.sort-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  font-weight: normal;
  font-style: normal;
  opacity: 0.3;
}
.sort-link:hover,
.sort-link:focus {
  color: var(--basic-black);
  opacity: 0.6;
}
.catalog-sort-link:active {
  color: var(--basic-black);
}
.catalog-link-caption {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
}
.catalog-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--special);
  font-weight: normal;
  font-style: normal;
}
.catalog-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  font-weight: 500;
  font-style: normal;
}
.pagination {
  width: 443px;
}
.pagination-list {
  display: flex;
  justify-content: space-around;
}
.pagination-link {
  color: var(--basic-black);
  background-color: var(--basic-light-silver);
}
.pagination-link:hover,
.pagination-link:focus {
  background-color: var(--basic-silver);
}
.pagination-link:active {
  background-color: var(--basic-white);
  border: 2px solid var(--special-gray);
}
                                                                                /*--подвал--*/
.footer {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
}
.footer-social {
  width: 260px;
  margin-right: 140px;
}
.footer-social-list {
  display: flex;
  justify-content: space-between;
}
.footer-offering {
  width: 560px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background-color: var(--basic-light-gray);
  border-radius: 50%;
  color: inherit;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--basic-light-red);
}
.footer-social-link:active {
  background-color: var(--basic-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.footer-social-link:active path,
.footer-social-link:active path{
  opacity: 0.3;
}
.footer-offering-title {
  width: 660px;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
}
.footer-offering-text {
  font-size: 16px;
  line-height: 22px;
  color: var(--rare);
  font-weight: normal;
  font-style: normal;
}
.footer-social-item {
  width: 81px;
  height: 81px;
}
                                                                                /*--модальное окно--*/
.modal {
  display: none;
}
.modal-title {
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
}
.modal-label {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  font-weight: bold;
  font-style: normal;
}
.modal-input input::placeholder:hover {
  border-color: var(--basic-light-silver);
}
.modal-button-send {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  font-weight: 500;
  font-style: normal;
  background-color: var(--basic-light-red);
}
