:root {
  --basic-black: #000000;
  --basic-extra-dark: #FB565A;
  --basic-dark: #D7373B;
  --basic-neutral: lightgray;
  --basic-extra-light: pink;
  --basic-white: #ffffff;
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: local('Roboto-Regular'),
       url('/fonts/roboto.woff2') format('woff2'),
       url('/fonts/roboto.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: local('Roboto-Medium'),
       url('/fonts/robotomedium.woff2') format('woff2'),
       url('/fonts/robotomedium.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: local('Roboto-Bold'),
       url('/fonts/robotobold.woff2') format('woff2'),
       url('/fonts/robotobold.woff') format('woff');
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  min-width: 1460px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Roboto', 'Arial', sans-serif;
  line-height: 1.2;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
.feedback {
  color: black;
}
.feedback p {
  margin-bottom: inherit;
}
/**>*{
  outline: 1px solid #e5e5e5;
}
*/
/*variables*/

.site-navigation-list a,
.user-navigation a {
  color: var(--basic-black);
}
.site-navigation-list a:hover,
.site-navigation-list a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-extra-dark);
}
.site-navigation-list a:active,
.user-navigation a:active {
  color: var(--basic-neutral);
}
